body {
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  font-style: italic;
  margin-top: 50px;
  position: relative;
  font-size: 3rem;
  color: #66BFBF
}

h2 {
  font-weight: normal;
  line-height: 2;
  color: #66BFBF
}

h3 {
  color: #11999E
}

P{
  color: #40514E
}

hr {
  border: 10px dotted #EAF6F6;
  border-bottom: none;
  width: 10%;

}

.footer-link {
  margin: 20px;
  text-decoration: none;
  color: #11999E
}

.footer-link:hover{
  color: #EAF6F6
}

.mountain {
  width: 46%;
  height: 46%;
  position: relative;
}

.topcloud {
  position: absolute;
  right: 100px;
  top: 30px;
}

.bottomcloud {
  position: absolute;
  left: 100px;
}

.Topcontainer {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 50px;
}

.middle-container {
  font-size: 1.5rem;
  font-family: 'Shadows Into Light', cursive;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.bottom-container{
  padding: 50px 50px 10px;
  background-color: #60BFBF
}


.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.skillspic {
  width: 25%;
  height: 200px;
  float: left;
  margin-right: 30px;
}

.skillspic2 {
  width: 25%;
  height: 200px;
  float: right;
  margin-left: 30px;
}

.copyright{
  color: #EAF6F6
}

.btn {
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 9px;
  line-height: 9px;
  color: #FFFFFF;
  font-family: Brush Script MT;
  width: 129px;
  font-size: 15px;
  font-weight: 400;
  padding: 14px;
  -webkit-box-shadow: 24px 1px 20px 0 #000000;
  -moz-box-shadow: 24px 1px 20px 0 #000000;
  box-shadow: 24px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337FED 0;
  background: #C4CBD7;
  background-image: -webkit-linear-gradient(top, #C4CBD7, #969A9F);
  background-image: -moz-linear-gradient(top, #C4CBD7, #969A9F);
  background-image: -ms-linear-gradient(top, #C4CBD7, #969A9F);
  background-image: -o-linear-gradient(top, #C4CBD7, #969A9F);
  background-image: -webkit-gradient(to bottom, #C4CBD7, #969A9F);
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  text-decoration: none;
}
